  
  label {
    display: block;
    margin: 10px 0;
    text-align-last: left;
  }
  
  label input {
    display: block;
  } 
  
  .text-format {
    border-radius: 2px;
    border: solid 1px #dfe3e9;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 36px !important;
    background-color: #ffffff !important;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
  } 
  
  .loginHeader{
    text-align: center;
    color:#8f29ca;    
  }
  
  